@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #323C50;
  --logo-outer-circle: #F9E4C8;

  --logo-text: #F9E4C8;
}

[data-theme = "dark"] {
  --background: #232121;
  --foreground: #F9E4C8;
  --logo-outer-circle: #323C50;
  --logo-text: #323C50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "freight-text-pro", serif;
}

.menu{
  display: flex;
  gap: 40px;
  font-size: 21px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  color: var(--foreground);
  overflow-wrap: break-word;
}

.basic_paragraph{
  font-family: Be Vietnam Pro;
  font-weight: 400;
  font-size: 19px;
}


h1 {
  font-family: FreightText Pro;
  font-style: italic;
  transform: skewX(5deg);
  font-size: 100px;
  font-weight: 400;
}

h2 {
  font-family: FreightText Pro;
  font-style: italic;
  transform: skewX(5deg);
  font-size: 70px;
  font-weight: 400;
}


h3 {
  font-family: "FreightText Pro";
  font-style: italic;
  font-size: 50px;
  font-weight: 400;
}

h4 {
  font-family: FreightText Pro;
  font-style: italic;
  transform: skewX(5deg);
  font-size: 30px;
  font-weight: 400;
}

p {
  font-family: Be Vietnam Pro;
  font-weight: 400;
  font-size: 19px;
}

a {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 40px 60px;
  border-bottom: 1px solid #ddd;
  background-color: var(--background);
  height: 150px;
  max-width: 1728px;
}

.header a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: inherit;
  text-decoration: none;
}

.moon_button{
  background: none;
  border: none;
  cursor: pointer;
}

.footer{
  position: relative;
  padding: clamp(24px, 5vw, 60px) clamp(16px, 6vw, 80px);
  border-top: 1px solid #ddd;
  margin-top: 80px;

  background-image: var(--footer-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.footer-brand{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -30px;    /* shift right */
    margin-top: 20px;
}

@media (max-width: 768px) {
  .footer-row{
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo-outer-circle{
  fill: var(--logo-outer-circle);
}

.logo-text{
  fill: var(--logo-text)
}

.logo-inner-circle{
  fill: var(--foreground);
}
